* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  header nav {
    padding-top: 40px;
    margin-right: 50px;
    float: right;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display: flex;
    font-variant: small-caps;
    font-size: 25px;
    font-weight: bold;
    border-top-color: transparent;
  }
  header li:hover {
    transform: scale(1.1);
    font-weight: bolder;
  }
  header li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
  }
  #about {
    margin-bottom: 15%;
  }
  #about p {
    font-size: 25px;
    line-height: 1cm;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  body {
    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
  }
  .profilepic {
    margin-top: 10%;
    float: right;
    position: relative;
    margin-bottom: 15%;
  }
  .intro {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 100px;
    position: absolute;
    justify-content: center;
    margin: 0 auto;
    top: 35%;
    left: 22%;
    background-color: transparent;
    z-index: 999;
  }
  #intro1:hover ~ #intro2:after {
    content: "Web";
    font-family: cursive;
    color: rgb(88, 135, 173);
  }
  #intro1:hover ~ #intro3:after {
    content: "Developer";
    font-family: cursive;
    color: rgb(88, 135, 173);
  }
  #intro1:after {
    content: "Hello.";
  }
  #intro1:hover:after {
    content: "Front-end";
    font-family: cursive;
    color: rgb(88, 135, 173);
  }
  #intro2:after {
    content: "I am";
  }
  #intro3:after {
    content: "Madhuri";
  }
  #intro3:hover:after {
    content: "Developer";
    font-family: cursive;
    color: rgb(88, 135, 173);
  }
  .content {
    display: inline-block;
  }
  
  .pagestyle {
    max-width: 80%;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: black;
    justify-content: center;
  }
  .pagestyle h2 {
    font-size: 45px;
    font-variant: small-caps;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 5% 20%;
  }
  .pagestyle p {
    max-width: 80%;
    line-height: 140%;
    margin: 5% 5% 5% 20%;
  }
  .projects {
    margin-left: 20%;
    margin-bottom: 15%;
  }
  .card1 {
    box-sizing: border-box;
    background-color: rgb(88, 135, 173);
    width: 1000px;
    height: 400px;
    border-radius: 10px;
    margin: 50px 0;
    padding: 10px;
  }
  li h3 {
    font-size: 30px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: right;
    background-color: transparent;
    margin: 10px 0;
  }
  .card img {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px 10px 20px;
    float: left;
    width: 400px;
    height: 300px;
    border-radius: 5px;
  }
  .card p {
    background-color: transparent;
    float: right;
    text-align: right;
    max-width: 45%;
    margin: 20px 0 0;
  }
  .card h6 {
    background-color: transparent;
    color: darkslategray;
    float: right;
    font-size: large;
    margin: 20px 0 0 30px;
  }
  .card a {
    background-color: transparent;
    text-decoration-line: underline;
  
    color: rgb(209, 228, 41);
  }
  .card li {
    list-style-type: none;
    display: block;
  }
  /* media queries are used to resize the profile picture, to respond to different viewport*/
  @media screen and (max-width: 768px) {
    * {
      max-width: 100%;
    }
    .pagestyle p {
      font-size: smaller;
      max-width: 90%;
      text-align: justify;
    }
    .profilepic {
      transform: scale(0.6);
    }
    .intro {
      font-size: 60px;
    }
    .card1 {
      width: 100%;
      height: 120%;
    }
    .card img {
      transform: scale(0.7);
      margin: 1px;
      float: unset;
    }
    .car p {
      margin: 0;
    }
    .card h6 {
      font-size: small;
    }
    .icons {
      width: 70%;
      align-self: flex-start;
    }
    .icons ul {
      margin: 2px 0 0 0;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1366px) {
    * {
      max-width: 100%;
    }
    .profilepic {
      transform: scale(0.7);
    }
    .intro {
      font-size: 85px;
    }
    .card1 {
      width: 100%;
      height: 120%;
    }
    .card img {
      transform: scale(0.6);
      margin: 2px;
      float: unset;
    }
    .card h6 {
      font-size: smaller;
    }
    .card p {
      font-size: smaller;
      max-width: 30%;
      margin-top: 0;
    }
  }
  .card img:hover {
    box-shadow: 0 0 5px;
    transform: scale(1.02);
  }
  .card h6:hover {
    transform: scale(1.02);
  }
  
  /*form {
    margin: 0 20% 5% 20%;
  }
  form label {
    display: block;
    width: 100px;
  }
  form textarea {
    margin-top: 5px;
    width: 200px;
    height: 50px;
  }
  form button {
    color: black;
    padding: 5px 28px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }*/
  .icons {
    display: flex;
    position: sticky;
    top: 0;
    align-self: flex-start;
    background-color: transparent;
  }
  .intropage {
    height: auto;
    overflow: visible;
  }
  .icons ul {
    list-style-type: none;
    margin: 500px 0 3px 3px;
  }
  
  form {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0 45% 10% 45%;
  }
  form label {
    margin: 10px;
    width: 200px;
    font-weight: bold;
  }
  form input {
    margin: 10px;
    width: 400px;
    height: 30px;
  }
  form textarea {
    margin: 10px;
    width: 400px;
    height: 100px;
  }
  button {
    margin: 20px;
    background-color: rgb(97, 148, 190);
    border-radius: 6px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    padding: 8px 28px;
    cursor: pointer;
  }